.scroll-effect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media_querie(extraSmall, bigSmall) {
        display: none;
    }

    .mouse {
        display: flex;
        width: 26px;
        height: 45px;
        margin-top: 10px;
        background-color: $color-white-darkness;
        border-radius: 50px;

        .scroll {
            width: 10px;
            height: 10px;
            margin: 8px auto auto auto;
            background-color: $color-white;
            border-radius: 50%;
        }
    }
}
